{% extends 'women/base.html' %}

{% block content %}
<h1>{{post.title}}</h1> <!-- заголовок поста (post-ссылка на экземпляр класса Uroki-->

{% if post.photo %}
<p><a href="{{post.photo.url}}" target="_blank"><img class="img-article-left" src="{{post.photo.url}}" width="258" height="146" /></a></p> <!-- при нажатии открывается в новом окне-->
<!--<p><img class="img-article-left" src="{{post.photo.url}}"></p>--><!-- картинка  поста --> 
<!--photo атрибуты(поля) в моделе Uroki) --> 
{% endif %}

{{post.content|linebreaks}} <!--контекст с форматированием текста linebreaks- фильтр 
 который добавляет тег абзазца в статью--->
{% endblock %}


